.nav-container {
  background-color: whtie;
  
}

.nav-wrap {
  height: 64px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;  /* 좌우 패딩 추가 */
}



.nav-left-wrap ul {
  display: flex;
  list-style: none;

}

.nav-left-wrap li {
  margin-right: 14px;
  padding: 8px;
  transition: all 0.3s ease; 
  /* justify-content: space-between;              */
}

.header-left-item {
  color: black;
  text-decoration: none;
  font-weight: 300;
  
}

.logo-item {
  display: flex;
  align-items: center;
}

/* 로고 디자인 */
/* .logo-text {
  font-size: 18px;
  font-weight: 600;
  color: rgb(103, 1, 103);
} */
.logo-text {
  color: #700E9F; /* 텍스트 색상 */
  font-size: 18px; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 두께 */
}

.logo-item svg {
  margin-right: 8px; /* 로고와 텍스트 사이의 간격 */
}

.nav-right-wrap ul{
  display: flex;
  list-style: none;
  
}

.nav-right-wrap li {
  margin-right: 14px;
  padding: 8px;
  transition: all 0.3s ease; 
  /* justify-content: space-between;             */
}

.header-nav-item {
  color: black;
  text-decoration: none; /*밑줄 없애기 */
  font-weight: 300;
  display: inline-block;
  
  
}

/* 마우스 오버 시 살짝 커지게 (근데 왜 모두가 움직임) */
.nav-left-wrap li:hover {
  margin-right: 17px;
  padding: 10px;
  transform: scale(1.1);
}

.footer {
  background-color: rgba(3, 37, 65, 1);
  height: 45px;
  max-width: 1800px;
}

.footer-content {
  color: white;
}


.ho:hover {
  font-size: 18px;
  font-weight: 600;
  
}



